/* ESTILOS GLOBALES */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #dbdbdb;
  background-color: #141414;
}

main {
  width: 100%;
  min-height: 82vh;
}

section {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: .9em;
}

.btn {
  padding: 10px 25px;
  border-radius: 0;
  font-family: inherit;
  max-width: 200px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  color: #141414;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-primary {
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  background-color: transparent;
}

.btn-primary:hover {
  background: #dbdbdb;
  background: -webkit-gradient(linear, left top, right top, from(#dbdbdb), to(#ffffff));
  background: linear-gradient(to right, #dbdbdb, #ffffff);
}

.active {
  border-bottom: 2px solid #666f76;
}

.grey-text {
  color: #666f76;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-align-right {
  text-align: right;
}

/* ESTILOS HEADER */
.g-header {
  height: 9vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

/* NAVBAR BOOTSTRAP */
.navbar {
  background-color: #141414;
  border-bottom: 1px solid #272727;
}

.navbar-toggler {
  color: #dbdbdb;
  font-size: 1.5rem;
}

.navbar-brand {
  width: 9vh;
  height: 100%;
  border-right: 1px solid #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .navbar {
    height: 9vh;
  }
}

.nav-link {
  color: #dbdbdb;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 0.25rem;
  border: 2px solid #141414;
}

.nav-link:hover {
  color: #dbdbdb;
  border-bottom: 2px solid #666f76;
}

.nav-link:visited {
  color: #dbdbdb;
}

/* ESTILOS FOOTER */
.g-footer {
  width: 100%;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #272727;
  background-color: #141414;
}

.g-footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-right: 20px;
}

.g-footer .icon {
  margin: 0;
  padding: 0;
}

/* ESTILOS INDEX */
#index .section-1 {
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#index .container {
  padding: 2rem;
  width: 50%;
}

#index .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

#index .container-right {
  background-image: url(../imgs/background.png);
  background-size: cover;
  background-position: center;
}

/* ESTILOS NOSOTROS */
#nosotros .section-1 {
  min-height: 82vh;
  max-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nosotros .container {
  padding: 2rem;
}

#nosotros .container-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  border-right: 1px solid #272727;
}

#nosotros .container-right {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

#nosotros .g-card {
  width: 12.5rem;
  height: 100%;
}

#nosotros .card-photo {
  width: 100%;
  height: 70%;
  margin-bottom: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#nosotros h2 {
  all: initial;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #dbdbdb;
  font-size: 1.2rem;
}

#nosotros .job {
  color: #666f76;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: .8rem;
}

/* ESTILOS PROYECTOS */
#proyectos section {
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#proyectos .container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

#proyectos .container-left, #proyectos .container-right {
  border-bottom: 1px solid #272727;
}

#proyectos .container-right {
  background-size: cover;
  background-position: center;
  border-left: 1px solid #272727;
}

#proyectos .section-1 .container-right {
  background-image: url(../imgs/background.png);
}

#proyectos .section-2 .container-right {
  background-image: url(../imgs/imgBuilding2.jpg);
}

#proyectos .section-3 .container-left,
#proyectos .section-3 .container-right {
  border-bottom: none;
}

#proyectos .section-3 .container-right {
  background-image: url(../imgs/imgBuilding4.jpg);
}

#proyectos h2 {
  font-size: 3rem;
}

#proyectos h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25rem;
  font-size: 1rem;
  color: #666f76;
}

/* ESTILOS CARRERAS */
#carreras .section-1 {
  min-height: 82vh;
}

#carreras .heading {
  padding: 3rem;
  background-color: #141414;
  border-bottom: 1px solid #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30%;
}

#carreras h1 {
  margin-bottom: 1.5rem;
}

#carreras h2 {
  margin-bottom: 2rem;
}

#carreras .open-roles {
  padding: 3rem 6rem;
}

#carreras .open-roles h2 {
  font-size: 2rem;
}

#carreras .role-class {
  width: 100%;
  margin-bottom: 2.5rem;
}

#carreras .role-class h3 {
  padding-bottom: .25rem;
  border-bottom: 1px solid #272727;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1.3rem;
  color: #666f76;
}

#carreras .role {
  padding: .75rem 1rem;
}

#carreras .role h4 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

#carreras .role p {
  color: #666f76;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: .8rem;
}

/* ESTILOS CONTACTO */
#contacto .section-1 {
  min-height: 82vh;
  max-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacto .container {
  padding: 2rem;
}

#contacto .container-left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .container-right {
  border-left: 1px solid #272727;
  padding: 4rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .subtexto-contacto {
  margin-bottom: .5rem;
}

#contacto .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

#contacto .text-form {
  margin-bottom: 1.25rem;
}

#contacto label,
#contacto .label-contact,
#contacto .subtexto-contacto {
  color: #666f76;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: .8rem;
}

#contacto .label-contact {
  margin-top: 1.5rem;
  margin-bottom: .25rem;
}

#contacto .label-contact:first-of-type {
  margin-top: 0;
}

#contacto input {
  margin-bottom: 30px;
}

#contacto input[type=text],
#contacto input[type=email],
#contacto #mensaje {
  display: block;
  width: 50%;
  padding-top: .5rem;
  border: none;
  border-bottom: 1px solid #666f76;
  background-color: transparent;
  color: #dbdbdb;
}

#contacto #mensaje {
  width: 100%;
}

#contacto input[type=submit] {
  margin-right: 1rem;
  color: #141414;
  background-color: #666f76;
  border: 1px solid #666f76;
  font-weight: 600;
  color: #dbdbdb;
}

/* MEDIA */
@media (max-width: 500px) {
  nav {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  h1 {
    font-size: 2rem;
  }
  /* INDEX */
  #index .section-1 {
    height: 82vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #index .container {
    padding: 1rem;
    width: 100%;
  }
  #index .container-left {
    gap: 15px;
    padding: 2rem 1.25rem;
  }
  #index .container-right {
    height: 50vh;
  }
  /* NOSOTROS */
  #nosotros .section-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 82vh;
    max-height: none;
  }
  #nosotros .container {
    width: 100%;
  }
  #nosotros .container-left {
    border-bottom: 1px solid #272727;
  }
  #nosotros .container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #nosotros .card {
    margin-top: 1.5rem;
  }
  /* PROYECTOS */
  #proyectos section {
    display: block;
  }
  #proyectos .container {
    width: 100%;
    height: 50vh;
    padding: 1rem;
  }
  #proyectos h2 {
    font-size: 2rem;
  }
  #proyectos h3 {
    font-size: .8rem;
  }
  /* CARRERAS */
  #carreras .section-1 > * {
    padding: 1.5rem;
  }
  #carreras .open-roles h2 {
    font-size: 1.5rem;
  }
  #carreras .role-class h3 {
    font-size: 1.1rem;
  }
  /* CONTACTO */
  #contacto .section-1 {
    min-height: 82vh;
    max-height: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .container {
    width: 100%;
    height: 90vh;
  }
  #contacto .container-right {
    padding: 2rem;
    height: auto;
    border-top: 1px solid #272727;
  }
  #contacto h1 {
    font-size: 2.5rem;
  }
  #contacto .label-contact {
    margin-top: 1rem;
  }
  #contacto input[type=text],
  #contacto input[type=email] {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */